* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    font-family: 'Montserrat';
    width: 90%;
    margin: 0 auto;
    display: grid;
}
.item {
    padding: 50px;
    margin: auto;
    border: 2px solid black;
    margin: 20px;
}
.tooled {
    padding: 10px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    border: 2px dotted rgb(180, 190, 37);
}